.App {
  max-width: 600px;
  margin: 30px auto;
  padding: 60px;
 
}
body,
html {
  font-family: "Cinzel", serif;
  font-family: "Quicksand", sans-serif;
  height: 100%;
   
}

.App footer {
  font-size: 14px;
   color: rgb(63, 28, 11);
   margin: 10px 0;
}
