.Weather {
  font-family: "Cinzel", serif;
  font-family: "Quicksand", sans-serif;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  color: #878787;
  padding: 40px;
}

.Weather form {
  margin-top: 40px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.Weather .search-input {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: #14213d;
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.Weather .btn {
  background: #14213d;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

.Weather .search-input::placeholder {
  line-height: 20px;
  color: #14213d;
}

.Weather h1 {
  font-size: 38px;
  font-weight: bold;
  line-height: 29px;
  margin: 20px 0 10px 0;
  color: #14213d;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
  color: #14213d;
}

.Weather li strong {
  color: #f65282;
  font-weight: normal;
}

.Weather canvas {
  margin: 10px 0;
}

.Weather .temperature {
  color: #14213d;
  margin-left: 5px;
  font-weight: 700;
  margin-left: 10px;
  font-size: 80px;
  line-height: 1;
}

.Weather .unit {
  color: hsl(221, 51%, 16%);
  font-size: 24px;
  line-height: 36px;
  font-weight: normal;
  position: relative;
  line-height: 1;
  top: -34px;
}

.Weather footer {
  font-size: 18px;
  margin-top: 40px;
  line-height: 20px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}

.Weather footer a {
  color: #f65282;
}
